#About {
	width: 100%;
	height: auto;

	.Hire-btn {
		width: 100%;
		height: 200px !important;
		padding: 40px 20px !important;
		background-color: #0400ff;
	
		@media (min-width: 510px) {
			flex-direction: row;
		}
		>button {
			border: 3px solid #fff;
			border-radius: 5px;
			padding: 10px 30px;
			color: #0400ff;
			text-transform: capitalize;
	
			@media (min-width: 510px) {
				margin-left: 20px;
			}
			
			background-color: #fff;
			&:hover {
				background-color: #0400ff;
				color: #fff;
				border-color: #fbff07;
			}
		}
	}

	>.text {
		@media (min-width: 768px) {
			max-width: 500px;

		}
	}

	>div {
		width: 100%;
		height: auto;

		@media (min-width: 768px) {
			width: 50%;

		}

		>h1 {
			@media (min-width: 360px) {
				font-size: 35px;
			}
		}

		>ul {
			width: 100%;
			height: auto;

			>li {
				padding: 10px 15px;
				background-color: #280274;
				color: #fff;
				font-weight: 500;
				margin: 10px;
				border-radius: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		>div {

			>div {
				padding: 5px 10px;
				border: solid 1px #a5a5a5;
				display: flex;
				background-color: #fff;

				>span {
					background-color: #FF004D;
					color: #fff;
					font-weight: 600;
					font-size: 12px;
					border-radius: 50%;
					padding: 10px 5px;
					display: flex;
					align-items: center;
					justify-content: center;

					&:last-child {
						border-radius: 0;
						background-color: unset;
						font-size: medium;
						color: black;
					}
				}
			}
		}
	}

	@media (min-width: 768px) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
