#Contact {
	width: 100%;
  height: auto;
	padding: 80px 25px 80px 25px;

	@media (min-width: 768px) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	>div {
		width: 100%;
		height: auto;
		
		>h1 {
			border: #000000 solid 1px;
			background-color: #000000;
			padding: 10px;
			color: #ffffff;
			text-align: center;
			@media (min-width: 360px) {
				font-size: 30px;
			}
		}

		&:last-child {
			@media (min-width: 768px) {
				width: 45%;
				padding: 40px;
			}
		}

		>p {
			width: 100%;
			height: auto;
		}

		>ul {
			width: 100%;
			height: auto;

			>li {
				display: flex;
				align-items: center;
				font-size: 15px;
				font-weight: 500;

				>span {
					&:first-child {
						color: #000000;
						font-size: x-large;
						margin-right: 10px;
					}
				}
			}
		}
	}

	>form {
		width: 100%;
		height: auto;

		@media (min-width: 768px) {
			width: 50%;
			padding: 40px;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			>h2 {
				width: 100%;
			}
		}

		>div {
			width: 100%;
			height: auto;

			@media (min-width: 768px) {
				width: 48%;
			}

			>label {
				width: 100%;
				height: auto;
				font-weight: bold;
				color: #00ff5ea7;
				margin-top: 20px;
			}

			>input, >textarea {
				width: 100%;
				height: auto;
				border: #000000 solid 2px;
				border-radius: 5px;
				padding: 10px;
				outline: none;
				margin-top: 5px;
				resize: none;
				color: #4e4e4e;
				
				&:focus {
					border-color: #2056f7;
				}
			}

			>textarea {
				height: 243px;
			}
			
			>button {
				width: 100%;
				height: auto;
				padding: 10px;
				color: #fff;
				border-radius: 5px;
				background-color: #000;
				border: 3px solid #000;
				
				
				&:hover {
					border-color: blue;
					background-color: blue;
				}
			}
		}
	}
}
