#Home {
	// Add a bockground image
	// with blur effect
	background-image: url('../assets/images/denis-pavlovic-wl5AypUmamo-unsplash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100vh;
	
	
	>.blur {
		// backdrop-filter: blur(4px);
		width: 100%;
		height: 100%;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.576);
		
		padding: 10px;

		>.name {
			font-size: 20px;
			font-weight: bold;
			text-transform: capitalize;
			margin-bottom: 30px;
			
			> span {
				color: White;
				// &:nth-first-child() {
				// 	// Add a custom background image
				// 	// for the text
				// }
			}
		}

		>.buttons {
			border: 1px solid blue;
			border-radius: 25px;
			width: 150px;
			height: 40px;
			margin-bottom: 30px;

			> button {
				background: transparent;
				border: none;
				width: 100%;
				height: 100%;
				color: aliceblue;
				font-size: 15px;
				font-weight: bold;
				
			}
		}

		>.text {
			max-width: 500px;
			color: white;

		}
	}
}
